body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #EEEEEE;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
    font-family: "NanumBarunpen";
  }

button{
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  padding: 0;
<<<<<<< Updated upstream
}

img{
  width: 50px;
  height: 50px;
}

.player{
  background-color: white;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
}

.left{
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
}

.logo{
  border-radius: 150%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.players{
  display: flex;
  gap: 5%;
  width: 100%;
}

button:hover{
  cursor:pointer;
}

.right{
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
  font-size: 15px;
}

.glass{
  display: flex;
  align-items: center;
  gap: 5px;
}

.glass img{
  width: 20px;
  height: 20px;
}
=======
}

img{
  width: 50px;
  height: 50px;
}

.player{
  background-color: white;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
}

.left{
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
}

.logo{
  border-radius: 150%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.players{
  display: flex;
  gap: 5%;
  width: 100%;
}

button:hover{
  cursor:pointer;
}

.right{
  display: flex;
  gap: 5%;
  flex-direction: column;
  padding: 25px 20px;
  font-size: 15px;
}

.glass{
  display: flex;
  align-items: center;
  gap: 5px;
}

<<<<<<< HEAD
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;  
  font-size: 2em; 
   
}
=======
.glass img{
  width: 20px;
  height: 20px;
}
>>>>>>> 44e91c0ae89a175418dd44d9aee28ef4ee29cff7
>>>>>>> Stashed changes
