/* styles.css */
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NanumBarunpen', sans-serif;
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-size: 30px;
    font-weight: bold;
  }

.container{
    width: 1000px;
    height: 550px;
    margin: auto;
    border: 4px solid black;
    border-radius: 40px;
    background-color: #FFFBE4;
    display: flex;
    align-items: center;
    position: relative;
}
img{
    width: 60px;
    height: 60px;
}
.배경음악{
    border: 2px solid black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.효과음{
    border: 2px solid black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.box{
    width: 100%;    
}
#grid1{
    display: grid;
    grid-template-columns: 154px 60px 500px;
    gap: 50px;
    margin-left: 60px;
    margin-bottom: 100px;
}
#grid2{
    display: grid;
    grid-template-columns: 154px 60px 500px;
    gap: 50px;
    margin-left: 60px;

}
button{
    border: 4px solid black;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: 50px;
}