@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 1080px;
    background-color:white;
    margin: 0 auto;
}
.title {
    width: 921px;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PyeongChangPeace-Bold', sans-serif;
}
.container {
    width: 1920px;
    height: 1080px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#grid{
    /*border:5px solid pink;*/
    display:grid;
    grid-template-columns: 455px 1010px 455px;
}
#grid2{
   /* border:1px solid red;*/
    display:grid;
    grid-template-rows: 360px 360px 360px;
}
div{
   /* border:5px solid gray;*/
}
#title {
    font-size: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player-count {
  /*  border: 5px solid pink;*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#start-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.start-btn {
    width: 583px;
    height: 174px;
    font-size: 150px;
    border: none;
    background-color:white;
    color: black;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
    line-height: 174px;  
    text-align: center; 
}
#player-count span:first-child {
    font-size: 55px;
}

#count {
    font-size: 48px;
}
#player-count > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#player-count button:first-child,
#count {
    margin-right: 10px;
}

#player-count button:last-child {
    margin-left: 10px;
}
button{
    font-family: 'NanumBarunpen', sans-serif;
}
span{
    font-family: 'NanumBarunpen', sans-serif;
}
.image-container {
    width: 455px; 
    height: 100%; 
    overflow: hidden; 
    position: relative;
} 

.image-container img {
    width: 100%; 
    position: absolute;
    bottom: 0;
}
.image-container2 {
    width: 455px;
    height: 100%;
    overflow: hidden; 
    position: relative;
}

.image-container2 img {
    width: 100%; 
    position: absolute;
    bottom: 0;
}
.btn{
    font-size: 40px;
    background-color: white;
    border:none;
}

#settings-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    font-family: 'NanumBarunpen', sans-serif;
    transition: background-color 0.2s;
}

#settings-btn:hover {
    background-color: #f4f4f4;
}
