body {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#grid2 {
  display: grid;
  grid-template-rows: 38vh 30vh 30vh;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PyeongChangPeace-Bold", sans-serif;
  font-size: 160px;
  color: #f5f0bb;
  letter-spacing: 30px;
  text-shadow: -6px 0px black, 0px 6px black, 6px 0px black, 0px -6px black;
}

#player-count {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#start-section {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.start-btn {
  width: 30.36vw;
  height: 16.1vh;
  font-size: 90px;
  letter-spacing: 30px;
  border: none;
  background-color: white;
  color: black;
  border: 0.15vw solid black;
  border-radius: 0.21vw;
  cursor: pointer;
}

#player-count span:first-child {
  font-size: 45px;
}

#count {
  font-size: 50px;
}

#player-count > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-count button {
  cursor: pointer;
}

#player-count button:first-child {
  margin-right: 40px;
}
#count {
  margin-right: 0px;
}

#player-count button:last-child {
  margin-left: 40px;
}

input[type="button"] {
  font-family: "NanumBarunpen", sans-serif;
}

span {
  font-family: "NanumBarunpen", sans-serif;
}

.image-container,
.image-container2 {
  width: 23.7vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.image-container img,
.image-container2 img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn {
  font-size: 40px;
  background-color: white;
  border: none;
}

#settings-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: white;
  cursor: pointer;
  z-index: 3;
}

:root {
  --color-hover: #f4f4f4;
}

#settings-btn,
.start-btn {
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-btn:hover {
  background-color: var(--color-hover);
}
@media all and (max-width: 1370px) {
  #title {
    font-size: 140px;
  }
  .start-btn {
    font-size: 70px;
  }
}
@media all and (max-width: 1220px) {
  #title {
    font-size: 130px;
  }
  .start-btn {
    font-size: 60px;
  }
}
@media all and (max-width: 1150px) {
  #title {
    font-size: 100px;
  }
  .start-btn {
    font-size: 50px;
  }
}
@media all and (max-width: 955px) {
  #title {
    font-size: 70px;
  }
  .start-btn {
    font-size: 30px;
  }
}
.container {
  width: 75px;
  height: 75px;
  overflow: hidden;
  position: relative;
}

.container > img {
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
